.box-2 {
   flex: 0 0 254px;
   //    height: 100vh;
   color: #ffffff;
   opacity: 0.8;
   padding: 16px;
   font-size: 13px;
   background-color: #121212;
}
.dropzone_container {
   padding: 20px 0;
}
